<% total_pages = (Post.count / @per_page) + (Post.count % @per_page) %>
<% if notice %>
  <div class="notice"><%= notice %></div>
<% end %>

<%= form_tag search_posts_path, method: :get do %>
  <%= text_field_tag :q, params[:q], placeholder: 'Pesquisar...' %>
  <%= submit_tag 'Pesquisar', name: nil %>
<% end %>



<h2>Todos os posts (total de <%= Post.count %> posts)</h2>
<h3></h3>
<% @posts.each do |post| %>
  <% time = post.created_at.time.in_time_zone("Brasilia") %>
  <% n_time = time.strftime("%d/%m/%Y %H:%M") %>
  <div class="post">
    <%= link_to post.title, post, class: "post-title" %>
    <br />
    <i> Por <%= post.user.username %> - <%= n_time %> </i>
    <br />
    <i> Email <%= post.user.email %> </i>
    <br />
    <br />
    <%= truncate(post.body, length: 350) %>
    <%= link_to 'Ver post', post %>
    <br />
  </div>
  <div style="font-size: large"><%= post.comments.size %> Comentários</div>
      <% post.comments.each do |comment| %>
        <div style="font-size:smaller">
        <% stime = comment.created_at.time.in_time_zone("Brasilia") %>
        <% sn_time = stime.strftime("%d/%m/%Y %H:%M") %>
        <strong><%= comment.title %></strong>
        <br />
        <i><%= comment.user.username %> - <%= sn_time %></i>
        <br />
        <%= comment.body %>
        <br />
        <br />
        </div>
      <% end %>
      <br />
<% end %>

<% (1..total_pages).each do |page| %>
  <%= link_to page, root_path(page: page) %>
<% end %>
