<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <h1 class="home-title">Modelo de blog</h1>
  <div class="grid-container">
    <div class="grid-item">
      <nav>
            <%= link_to 'Home', root_path, class: "mybutton" %>
            <%= link_to_if current_user, 'Novo post', new_post_path, class: "mybutton" %>
            <% if !current_user.nil? && current_user.email == "vincent@123.com" %>
              <%= link_to 'Usuários', users_path, class: "mybutton" %>
            <% end %>
      </nav>
    </div>
    <div class="grid-item">
      <div class="log-menu">
        <% if current_user %>
          Logado como <%= current_user.username %>
          <%= link_to "   Log out", session_path("current"), method: "delete" %>
        <% else %>
          <%= link_to 'Inscreva-se', new_user_path %> ou 
          <%= link_to 'Log in', new_session_path(previous_url: (root_url + request.path)) %>
        <% end %>
      </div>
    </div>
  </div>
  <%= yield %>
  </body>
</html>
