<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <dl>
        <dt>
          <%= link_to 'Home', root_path %>
        </dt>
        <dt>
          <%= link_to 'Novo post', new_post_path %>
        </dt>
      </dl>
    </nav>
    <%= yield %>
  </body>
</html>
